h1 {
    font-size: 4em;
    color: $font-colour-primary;
}

h2 {
    font-size: 2em;
    color: $font-colour-primary;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
    color: red;
}

.something {
    color: yellow;
}